Repository jkube-globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.4.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.23.3
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==22.10.27'
        - 'flake8-typing-as-t==0.0.3'
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
    - id: pyupgrade
      args: ["--py36-plus"]
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
    - id: codespell
- repo: local
  hooks:
    - id: fix-changelog
      name: "Fix changelog"
      entry: ./changelog.d/post-fix-changelog.py
      language: python
      files: ^changelog\.adoc$
    - id: reject-paginator-table-usage
      name: "Require use of 'Paginator.wrap()' not 'client.paginated.foo'"
      types: [python]
      language: pygrep
      # look for either
      #     x = client.paginated.foo(...)
      # or
      #     x = (
      #         client
      #         .paginated
      #         .foo(...)
      #     )
      entry: '(\.paginated\.)|(^\s+\.paginated$)'

Bump version and changelog for release
  changelog.adoc
  changelog.d/20230822_165412_ada_sc_21799.md
  changelog.d/20230912_151825_sirosen_warn_inactive_run_logs.md
  changelog.d/20231009_093456_sirosen_fix_test_warnings.md
  changelog.d/20231017_170040_kurtmckee_id_transfer_timers_better.md
  changelog.d/20231023_074126_kurtmckee_show_deleted_timer_status.md
  changelog.d/20231031_164554_sirosen_handle_session_gares.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Update globus-sdk to 3.32.0
  setup.py
Due: reject-paginator-table-usage

Allow copied-and-pasted API routes to the `globus api groups` command
  changelog.d/20231128_151455_kurtmckee_fix_groups_api.md
  src/globus_cli/commands/api.py
  tests/functional/test_api.py
Due: reject-paginator-table-usage

Update mypy and strengthen typing for exc hooks
  mypy.ini
  src/globus_cli/exception_handling/hooks.py
  src/globus_cli/exception_handling/registry.py
  src/globus_cli/login_manager/manager.py
  tox.ini
Due: reject-paginator-table-usage

Introduce gcs command as set of aliases
  src/globus_cli/commands/__init__.py
  src/globus_cli/commands/gcs/__init__.py
  tests/functional/test_gcs_aliasing.py
Due: reject-paginator-table-usage

Test 'gcs' aliases for 'collection' commands
  src/globus_cli/endpointish/errors.py
  tests/functional/collection/test_collection_delete.py
  tests/functional/collection/test_collection_list.py
  tests/functional/collection/test_collection_show.py
  tests/functional/collection/test_collection_update.py
  tests/functional/endpoint/test_endpoint_delete.py
Due: reject-paginator-table-usage

Refactor "should use map" for improved readability
  src/globus_cli/endpointish/errors.py
  tests/functional/endpoint/test_endpoint_show.py
Due: reject-paginator-table-usage

Add changelog for new 'globus gcs' commands
  changelog.d/20231204_165730_sirosen_introduce_gcs_command.md
Due: none

Implement review feedback
  changelog.d/20231204_165730_sirosen_introduce_gcs_command.md
  src/globus_cli/endpointish/errors.py
  tests/functional/collection/test_collection_delete.py
  tests/functional/collection/test_collection_list.py
  tests/functional/collection/test_collection_show.py
  tests/functional/collection/test_collection_update.py
  tests/functional/test_gcs_aliasing.py
Due: reject-paginator-table-usage

Minor mypy refinement: one more module is strict
  mypy.ini
  src/globus_cli/parsing/param_types/identity_type.py
Due: reject-paginator-table-usage

Added guest collection creation (#896)
  changelog.d/20231127_161505_derek_guest_collection_creation_sc_14410.md
  src/globus_cli/commands/collection/__init__.py
  src/globus_cli/commands/collection/_common.py
  src/globus_cli/commands/collection/create/__init__.py
  src/globus_cli/commands/collection/create/guest.py
  src/globus_cli/commands/collection/show.py
  src/globus_cli/commands/collection/update.py
  src/globus_cli/commands/login.py
  src/globus_cli/endpointish/endpointish.py
  src/globus_cli/login_manager/context.py
  src/globus_cli/login_manager/errors.py
  src/globus_cli/login_manager/manager.py
  tests/conftest.py
  tests/files/api_fixtures/collection_operations.yaml
  tests/functional/collection/test_collection_create_guest.py
  tests/functional/collection/test_collection_delete.py
  tests/unit/test_login_manager.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20231106_082938_ada_use_timersv2.md
  changelog.d/20231127_161505_derek_guest_collection_creation_sc_14410.md
  changelog.d/20231128_151455_kurtmckee_fix_groups_api.md
  changelog.d/20231204_165730_sirosen_introduce_gcs_command.md
  setup.py
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Resolve missing setuptools in Python 3.12
  tox.ini
Due: none

Support Python 3.12
  .github/workflows/build.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish_to_pypi.yaml
  .github/workflows/publish_to_test_pypi.yaml
  changelog.d/20231207_091830_kurtmckee_python_3_12.md
  changelog.d/20231207_094126_kurtmckee_python_3_12.md
  setup.py
  src/globus_cli/services/transfer/delegate_proxy.py
  tox.ini
Due: reject-paginator-table-usage

Tighten the mypy belt once more
  mypy.ini
  src/globus_cli/services/transfer/data.py
Due: reject-paginator-table-usage

Deprecate and hide `globus endpoint server`
  src/globus_cli/commands/endpoint/create.py
  src/globus_cli/commands/endpoint/server/__init__.py
  src/globus_cli/commands/endpoint/server/add.py
  src/globus_cli/commands/endpoint/server/delete.py
  src/globus_cli/commands/endpoint/server/list.py
  src/globus_cli/commands/endpoint/server/show.py
  src/globus_cli/commands/endpoint/server/update.py
  tests/functional/test_list_commands.py
Due: reject-paginator-table-usage

Deprecate and hide endpoint activation commands
  src/globus_cli/commands/endpoint/activate.py
  src/globus_cli/commands/endpoint/deactivate.py
  src/globus_cli/commands/endpoint/is_activated.py
  tests/functional/test_list_commands.py
Due: reject-paginator-table-usage

Add changelog for deprecation of v4-only commands
  changelog.d/20231207_180145_sirosen_deprecate_v4_cmds.md
Due: none

globus api --scope-string (for clients) (#906)
  changelog.d/20231206_130249_derek_api_scopes.md
  src/globus_cli/commands/api.py
  src/globus_cli/login_manager/manager.py
  tests/functional/test_api.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20231206_130249_derek_api_scopes.md
  changelog.d/20231207_091830_kurtmckee_python_3_12.md
  changelog.d/20231207_094126_kurtmckee_python_3_12.md
  changelog.d/20231207_140648_ada_remove_tutorial_endpoints.md
  changelog.d/20231207_180145_sirosen_deprecate_v4_cmds.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Feedback: Fix AsciiDoc syntax
  changelog.adoc
Due: fix-changelog

Use client id as identity id if cli is invoked with client creds (#912)
  changelog.d/20231208_110449_derek_client_identity_lookup.md
  src/globus_cli/commands/collection/create/guest.py
  src/globus_cli/commands/flows/run/resume.py
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/timer/resume.py
  src/globus_cli/login_manager/manager.py
  src/globus_cli/login_manager/utils.py
Due: reject-paginator-table-usage

Remove various README badges
  README.rst
Due: none

Add a `globus api gcs` command
  changelog.d/20231208_162645_sirosen_add_api_gcs.md
  src/globus_cli/commands/api.py
Due: reject-paginator-table-usage

Add testing for `globus api gcs`
  tests/functional/test_api.py
Due: reject-paginator-table-usage

Update src/globus_cli/commands/api.py
  src/globus_cli/commands/api.py
Due: reject-paginator-table-usage

Delete a module-scoped name after its last use
  src/globus_cli/commands/api.py
Due: reject-paginator-table-usage

Port 'collection create mapped' from gcs-cli
  src/globus_cli/commands/collection/create/__init__.py
  src/globus_cli/commands/collection/create/mapped.py
Due: reject-paginator-table-usage

Update 'collection create mapped' after rebase
  src/globus_cli/commands/collection/create/mapped.py
Due: reject-paginator-table-usage

Improve defaults for 'collection create mapped'
  src/globus_cli/commands/collection/create/mapped.py
Due: reject-paginator-table-usage

Convert GCP mapped create to common params
  src/globus_cli/commands/collection/create/mapped.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20231208_110449_derek_client_identity_lookup.md
  changelog.d/20231208_162645_sirosen_add_api_gcs.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Fix the display of timer schedules
  changelog.d/20231211_202324_kurtmckee_localize_timer_scheduled_time.md
  src/globus_cli/commands/timer/_common.py
  tests/unit/formatters/test_timer_formatters.py
Due: reject-paginator-table-usage

Rename Timers "jobs" to simply "timers"
  changelog.d/20231211_183203_kurtmckee_rename_timer_jobs.md
  src/globus_cli/commands/timer/__init__.py
  src/globus_cli/commands/timer/_common.py
  src/globus_cli/commands/timer/create/__init__.py
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/timer/delete.py
  src/globus_cli/commands/timer/list.py
  src/globus_cli/commands/timer/pause.py
  src/globus_cli/commands/timer/resume.py
  src/globus_cli/commands/timer/show.py
  tests/functional/timer/test_job_operations.py
  tests/functional/timer/test_job_resume.py
Due: reject-paginator-table-usage

Remove useless parentheses
  src/globus_cli/commands/login.py
Due: reject-paginator-table-usage

Short-circuit `has_login()` checks
  src/globus_cli/login_manager/manager.py
Due: reject-paginator-table-usage

Add testing of 'collection create mapped'
  src/globus_cli/commands/collection/create/mapped.py
  tests/functional/collection/test_collection_create_mapped.py
Due: reject-paginator-table-usage

Consolidate the `--public/--private` option
  src/globus_cli/commands/collection/create/guest.py
  src/globus_cli/commands/collection/create/mapped.py
  src/globus_cli/commands/collection/update.py
  src/globus_cli/commands/endpoint/create.py
  src/globus_cli/commands/endpoint/update.py
  src/globus_cli/commands/gcp/create/guest.py
  src/globus_cli/commands/gcp/create/mapped.py
  src/globus_cli/commands/gcp/update/guest.py
  src/globus_cli/commands/gcp/update/mapped.py
  src/globus_cli/parsing/shared_options/endpointish.py
Due: reject-paginator-table-usage

Update mapped creation to use --storage-gateway-id
  src/globus_cli/commands/collection/create/mapped.py
  tests/functional/collection/test_collection_create_mapped.py
Due: reject-paginator-table-usage
