Repository jkube-globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

fix-changelog:
  name: Fix changelog
  entry: ./changelog.d/post-fix-changelog.py
  language: python

reject-paginator-table-usage:
  name: Require use of 'Paginator.wrap()' not 'client.paginated.foo'
  language: pygrep
  entry: (\.paginated\.)|(^\s+\.paginated$)

Fix mypy error
  src/globus_cli/login_manager/auth_flows.py
Due: reject-paginator-table-usage

Add changelog for clock drift improvement
  changelog.d/20240129_181132_sirosen_improve_jwt_clock_skew_tolerance.md
Due: none

Add unit tests for immature JWT signature handling
  src/globus_cli/login_manager/auth_flows.py
  tests/unit/test_login_manager.py
Due: reject-paginator-table-usage

Fix `email.utils` usage on older stdlib versions
  src/globus_cli/login_manager/auth_flows.py
Due: reject-paginator-table-usage

Update to slyp v0.2.1 and apply fixes
  .pre-commit-config.yaml
  src/globus_cli/commands/endpoint/activate.py
  src/globus_cli/commands/transfer.py
  tests/functional/endpoint/test_endpoint_update.py
  tests/functional/test_jmespath_output.py
  tests/unit/param_types/test_comma_delimited.py
  tests/unit/param_types/test_json_inputs.py
Due: reject-paginator-table-usage

Fix helptext for `--preserve-timestamp`
  src/globus_cli/parsing/shared_options/transfer_task_options.py
Due: reject-paginator-table-usage

Apply upadup update
  .pre-commit-config.yaml
Due: none

Refine flake8 config
  .flake8
Due: none

Added globus gcs endpoint role commands (#946)
  changelog.d/20240206_161457_derek_gcs_endpoint_role_sc_28588.md
  src/globus_cli/commands/gcs/endpoint/__init__.py
  src/globus_cli/commands/gcs/endpoint/role/__init__.py
  src/globus_cli/commands/gcs/endpoint/role/_common.py
  src/globus_cli/commands/gcs/endpoint/role/create.py
  src/globus_cli/commands/gcs/endpoint/role/delete.py
  src/globus_cli/commands/gcs/endpoint/role/list.py
  src/globus_cli/commands/gcs/endpoint/role/show.py
  src/globus_cli/commands/search/index/role/create.py
  src/globus_cli/utils.py
  tests/files/api_fixtures/endpoint_role_operations.yaml
  tests/functional/flows/__init__.py
  tests/functional/flows/test_update_flow.py
  tests/functional/gcs/__init__.py
  tests/functional/gcs/endpoint/__init__.py
  tests/functional/gcs/endpoint/test_role.py
  tests/functional/search/test_index_role.py
  tests/unit/test_utils.py
Due: reject-paginator-table-usage

Update pinned dependencies
  pyproject.toml
  scripts/update_dependencies.py
  tox.ini
Due: reject-paginator-table-usage

Make `--format=JSON` output on errors "raw"
  changelog.d/20240214_225218_sirosen_fix_json_error_presentation.md
  src/globus_cli/exception_handling/hooks.py
  src/globus_cli/termio/errors.py
  tests/functional/test_exception_hooks.py
Due: reject-paginator-table-usage

Minor adjustments to `tox r -e lint`
  tox.ini
Due: none

Add `--subscription-id` to `flows create`
  changelog.d/20240208_162126_sirosen_flow_create_subscription_id.md
  src/globus_cli/commands/flows/create.py
  src/globus_cli/commands/flows/show.py
  tests/functional/flows/test_create_flow.py
Due: reject-paginator-table-usage

Added globus gcs endpoint show and update (#951)
  Makefile
  changelog.d/20240216_122016_derek_gcs_endpoint_update_sc_28586.md
  src/globus_cli/commands/gcs/endpoint/__init__.py
  src/globus_cli/commands/gcs/endpoint/_common.py
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/show.py
  src/globus_cli/commands/gcs/endpoint/update.py
  src/globus_cli/parsing/param_types/nullable.py
  src/globus_cli/termio/formatters/primitive.py
  tests/files/api_fixtures/endpoint_introspect.yaml
  tests/files/api_fixtures/gcs_endpoint_operations.yaml
  tests/functional/gcs/endpoint/test_show.py
  tests/functional/gcs/endpoint/test_update.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20240129_181132_sirosen_improve_jwt_clock_skew_tolerance.md
  changelog.d/20240206_161457_derek_gcs_endpoint_role_sc_28588.md
  changelog.d/20240208_162126_sirosen_flow_create_subscription_id.md
  changelog.d/20240214_225218_sirosen_fix_json_error_presentation.md
  changelog.d/20240216_122016_derek_gcs_endpoint_update_sc_28586.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Convert to newer mypy overrides config + update
  mypy.ini
  pyproject.toml
  tox.ini
Due: none

Fix encoding of payloads as UTF-8 for `globus api`
  changelog.d/20240223_150902_sirosen_api_always_utf8.md
  src/globus_cli/commands/api.py
Due: reject-paginator-table-usage

Enable wrapping of group 'description' output
  src/globus_cli/commands/group/show.py
Due: reject-paginator-table-usage

Expand the width of text-wrapped record fields
  changelog.d/20240226_123238_sirosen_enable_wrapped_group_desc.md
  src/globus_cli/termio/printer.py
  tests/unit/test_termio.py
Due: reject-paginator-table-usage

Support client creds in `globus timer create transfer` (#957)
  changelog.d/20240229_094608_ada_support_client_creds_in_timer_create.md
  src/globus_cli/commands/timer/create/transfer.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Add missing scriv dependency to tox
  tox.ini
Due: none

Bump version and changelog for release
  changelog.adoc
  changelog.d/20240223_150902_sirosen_api_always_utf8.md
  changelog.d/20240226_123238_sirosen_enable_wrapped_group_desc.md
  changelog.d/20240229_094608_ada_support_client_creds_in_timer_create.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Add --parent-id flag to group create
  changelog.d/20240301_153447_sirosen_groups_parent_id.md
  src/globus_cli/commands/group/create.py
  tests/functional/groups/test_group_crud.py
Due: reject-paginator-table-usage

Refactor group CRUD tests into per-command modules
  tests/functional/groups/test_group_create.py
  tests/functional/groups/test_group_crud.py
  tests/functional/groups/test_group_delete.py
  tests/functional/groups/test_group_list.py
  tests/functional/groups/test_group_member_commands.py
  tests/functional/groups/test_group_show.py
  tests/functional/groups/test_group_update.py
Due: reject-paginator-table-usage

Remove autoactivate calls from the CLI
  changelog.d/20240301_165700_sirosen_remove_implicit_autoactivate.md
  src/globus_cli/commands/delete.py
  src/globus_cli/commands/endpoint/create.py
  src/globus_cli/commands/gcp/create/guest.py
  src/globus_cli/commands/ls.py
  src/globus_cli/commands/mkdir.py
  src/globus_cli/commands/rename.py
  src/globus_cli/commands/rm.py
  src/globus_cli/commands/transfer.py
  src/globus_cli/services/transfer/__init__.py
  src/globus_cli/services/transfer/activation.py
  tests/files/api_fixtures/all_authentication_failed.yaml
  tests/functional/test_authentication_error_handling.py
  tests/functional/test_basics.py
Due: reject-paginator-table-usage

Update src/globus_cli/commands/group/create.py
  src/globus_cli/commands/group/create.py
Due: reject-paginator-table-usage

Add 'group get-by-subscription' command
  changelog.d/20240226_144957_sirosen_get_group_by_subscription_id.md
  src/globus_cli/commands/group/__init__.py
  src/globus_cli/commands/group/get_by_subscription.py
  tests/functional/groups/test_get_by_subscription.py
Due: reject-paginator-table-usage

Add `get-subscription-info` command + share fields
  changelog.d/20240304_114521_sirosen_get_subscription_info.md
  src/globus_cli/commands/group/__init__.py
  src/globus_cli/commands/group/_common.py
  src/globus_cli/commands/group/get_by_subscription.py
  src/globus_cli/commands/group/get_subscription_info.py
  src/globus_cli/commands/group/show.py
  tests/functional/groups/test_get_by_subscription.py
  tests/functional/groups/test_get_subscription_info.py
Due: reject-paginator-table-usage

Update SDK to v3.39.0
  pyproject.toml
  scripts/update_dependencies.py
Due: reject-paginator-table-usage

Apply suggestions from code review
  changelog.d/20240304_114521_sirosen_get_subscription_info.md
Due: none

Remove CLIStubResponse
  src/globus_cli/commands/get_identities.py
  src/globus_cli/termio/printer.py
  src/globus_cli/types.py
  src/globus_cli/utils.py
Due: reject-paginator-table-usage

Bugfix use of TextMode from rebase
  src/globus_cli/commands/group/get_subscription_info.py
Due: reject-paginator-table-usage

add stat command (#963)
  changelog.d/20240304_132149_aaschaer.md
  src/globus_cli/commands/__init__.py
  src/globus_cli/commands/stat.py
  tests/functional/test_stat.py
Due: reject-paginator-table-usage

fix stat text_mode (#967)
  src/globus_cli/commands/stat.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20240226_144957_sirosen_get_group_by_subscription_id.md
  changelog.d/20240301_153447_sirosen_groups_parent_id.md
  changelog.d/20240301_165700_sirosen_remove_implicit_autoactivate.md
  changelog.d/20240304_114521_sirosen_get_subscription_info.md
  changelog.d/20240304_132149_aaschaer.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Allow subscriptions to be assigned to existing flows
  changelog.d/20240408_154039_kurtmckee_flows_update_subscriptions_sc_30164.md
  pyproject.toml
  src/globus_cli/commands/flows/_common.py
  src/globus_cli/commands/flows/update.py
  tests/functional/flows/test_update_flow.py
Due: reject-paginator-table-usage

Fix a regression in handling of EPIPE
  changelog.d/20240427_163628_sirosen_fix_epipe_regression.md
  src/globus_cli/parsing/commands.py
  tests/unit/test_command_decorators.py
Due: reject-paginator-table-usage

Path conditions:
  fix-changelog: any of: ^changelog\.adoc$
  reject-paginator-table-usage: any of: \.py$
