Repository jkube-globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.4.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.23.3
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==22.10.27'
        - 'flake8-typing-as-t==0.0.3'
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.10.1
  hooks:
    - id: pyupgrade
      args: ["--py36-plus"]
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
    - id: codespell
- repo: local
  hooks:
    - id: fix-changelog
      name: "Fix changelog"
      entry: ./changelog.d/post-fix-changelog.py
      language: python
      files: ^changelog\.adoc$
    - id: reject-paginator-table-usage
      name: "Require use of 'Paginator.wrap()' not 'client.paginated.foo'"
      types: [python]
      language: pygrep
      # look for either
      #     x = client.paginated.foo(...)
      # or
      #     x = (
      #         client
      #         .paginated
      #         .foo(...)
      #     )
      entry: '(\.paginated\.)|(^\s+\.paginated$)'

Make `--identity-id` a common option definition
  src/globus_cli/commands/collection/_common.py
  src/globus_cli/commands/collection/create/guest.py
  src/globus_cli/commands/collection/create/mapped.py
Due: reject-paginator-table-usage

Mapped collection mutex policies use proper mutex
  src/globus_cli/commands/collection/create/mapped.py
  tests/functional/collection/test_collection_create_mapped.py
Due: reject-paginator-table-usage

Add changelog for mapped collection create
  changelog.d/20231213_172721_sirosen_mapped_collection_create.md
Due: none

Minor typing bugfix: force bool in bool funcs
  src/globus_cli/commands/collection/create/mapped.py
Due: reject-paginator-table-usage

Update to a few documentation wording instances (#920)
  changelog.adoc
  src/globus_cli/commands/endpoint/user_credential/list.py
Due: fix-changelog, reject-paginator-table-usage

Tighten mypy: parsing.command_state
  mypy.ini
  src/globus_cli/parsing/command_state.py
Due: reject-paginator-table-usage

Tighten mypy: parsing.commands
  mypy.ini
  src/globus_cli/parsing/commands.py
  src/globus_cli/parsing/shared_options/__init__.py
Due: reject-paginator-table-usage

Simplify details in command decorators
  src/globus_cli/parsing/commands.py
Due: reject-paginator-table-usage

Tighten mypy checking of parsing.shared_options
  mypy.ini
  src/globus_cli/commands/delete.py
  src/globus_cli/parsing/commands.py
  src/globus_cli/parsing/shared_options/__init__.py
Due: reject-paginator-table-usage

Tighten type checking of id_args module
  mypy.ini
  src/globus_cli/parsing/shared_options/id_args.py
Due: reject-paginator-table-usage

Tighten mypy on transfer task option decorators
  mypy.ini
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/parsing/shared_options/transfer_task_options.py
Due: reject-paginator-table-usage

Remove stale mypy.ini config
  mypy.ini
Due: none

Tighten mypy on endpoint-plus-path
  mypy.ini
  src/globus_cli/parsing/param_types/endpoint_plus_path.py
Due: reject-paginator-table-usage

Remove stale mypy config section
  mypy.ini
Due: none

Tighten mypy around shell completer opts
  mypy.ini
  src/globus_cli/parsing/shell_completion.py
Due: reject-paginator-table-usage

Update src/globus_cli/parsing/commands.py
  src/globus_cli/parsing/commands.py
Due: reject-paginator-table-usage

Fix minor typing typos
  src/globus_cli/parsing/commands.py
  src/globus_cli/parsing/shell_completion.py
Due: reject-paginator-table-usage

Update to SDK v3.34.0
  setup.py
  src/globus_cli/login_manager/manager.py
  tests/functional/test_login_command.py
Due: reject-paginator-table-usage

Convert from setup.py to setup.cfg
  setup.cfg
  setup.py
Due: reject-paginator-table-usage

Convert to pyproject.toml
  .flake8
  pyproject.toml
  setup.cfg
Due: none

Minor quoting consistency fix
  pyproject.toml
Due: none

Bump version of click-type-test to 0.0.7
  pyproject.toml
Due: none

Remove most cases of explicit click callback types
  src/globus_cli/commands/collection/_common.py
  src/globus_cli/commands/collection/update.py
  src/globus_cli/commands/task/list.py
  src/globus_cli/parsing/__init__.py
  src/globus_cli/parsing/param_types/__init__.py
  src/globus_cli/parsing/param_types/notify_param.py
  src/globus_cli/parsing/param_types/nullable.py
  src/globus_cli/parsing/shared_callbacks.py
  src/globus_cli/parsing/shared_options/__init__.py
  src/globus_cli/parsing/shared_options/endpointish.py
Due: reject-paginator-table-usage

Remove override annotations from click types
  src/globus_cli/parsing/param_types/delimited.py
  src/globus_cli/parsing/param_types/identity_type.py
  src/globus_cli/parsing/param_types/location.py
  src/globus_cli/parsing/param_types/nullable.py
  src/globus_cli/parsing/param_types/task_path.py
  src/globus_cli/parsing/param_types/timedelta.py
  tests/unit/test_click_annotations.py
Due: reject-paginator-table-usage

Remove type_annotation from OneUseOption
  src/globus_cli/commands/endpoint/create.py
  src/globus_cli/commands/endpoint/local_id.py
  src/globus_cli/parsing/param_classes.py
  tests/unit/param_classes/test_one_use_option.py
Due: reject-paginator-table-usage

Fix type errors identified by new click-type-test
  src/globus_cli/commands/delete.py
  src/globus_cli/commands/gcp/create/_common.py
  src/globus_cli/commands/rm.py
  src/globus_cli/commands/transfer.py
  src/globus_cli/parsing/shared_options/__init__.py
  tests/unit/param_classes/test_annotated_options.py
Due: reject-paginator-table-usage

Remove AnnotatedOption, OneUseOption refactor
  src/globus_cli/commands/endpoint/create.py
  src/globus_cli/commands/endpoint/server/_common.py
  src/globus_cli/parsing/__init__.py
  src/globus_cli/parsing/param_classes.py
  src/globus_cli/parsing/param_types/notify_param.py
  src/globus_cli/parsing/shared_callbacks.py
  tests/unit/param_classes/test_one_use_option.py
Due: reject-paginator-table-usage

Minor fix for type of deferred type evaluation
  src/globus_cli/parsing/param_classes.py
Due: reject-paginator-table-usage

Remove type aliases for explicit annotations
  src/globus_cli/commands/endpoint/create.py
  src/globus_cli/parsing/param_classes.py
  src/globus_cli/types.py
Due: reject-paginator-table-usage

Handle unrecognized errors in guest create
  changelog.d/20240103_182435_sirosen_handle_non_dict_gcs_detail.md
  src/globus_cli/commands/collection/create/guest.py
  tests/functional/collection/test_collection_create_guest.py
Due: reject-paginator-table-usage

GCS/GCP Subscription ID Management (#921)
  changelog.d/20231215_140223_derek_gcs_subscription_id_sc_28587.md
  src/globus_cli/commands/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcp/__init__.py
  src/globus_cli/commands/gcp/set_subscription_id.py
  src/globus_cli/commands/gcs/__init__.py
  src/globus_cli/commands/gcs/endpoint/__init__.py
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
  tests/functional/gcs/__init__.py
  tests/functional/gcs/endpoint/__init__.py
  tests/functional/gcs/endpoint/test_set_subscription_id.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20231211_183203_kurtmckee_rename_timer_jobs.md
  changelog.d/20231211_202324_kurtmckee_localize_timer_scheduled_time.md
  changelog.d/20231213_172721_sirosen_mapped_collection_create.md
  changelog.d/20231215_140223_derek_gcs_subscription_id_sc_28587.md
  changelog.d/20240103_182435_sirosen_handle_non_dict_gcs_detail.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Update minimum python version to 3.8
  .github/workflows/build.yaml
  changelog.d/20240109_104114_sirosen_drop_py37.md
  pyproject.toml
  tox.ini
Due: none

Update pyupgrade to use '--py38-plus'
  .pre-commit-config.yaml
  src/globus_cli/_warnings.py
  src/globus_cli/commands/api.py
  src/globus_cli/commands/collection/list.py
  src/globus_cli/commands/endpoint/create.py
  src/globus_cli/commands/endpoint/permission/create.py
  src/globus_cli/commands/endpoint/permission/update.py
  src/globus_cli/commands/endpoint/role/create.py
  src/globus_cli/commands/endpoint/search.py
  src/globus_cli/commands/endpoint/server/add.py
  src/globus_cli/commands/endpoint/server/delete.py
  src/globus_cli/commands/endpoint/server/update.py
  src/globus_cli/commands/endpoint/update.py
  src/globus_cli/commands/flows/list.py
  src/globus_cli/commands/group/invite/_common.py
  src/globus_cli/commands/group/member/add.py
  src/globus_cli/commands/group/member/invite.py
  src/globus_cli/commands/group/set_policies.py
  src/globus_cli/commands/ls.py
  src/globus_cli/commands/search/index/role/create.py
  src/globus_cli/commands/task/list.py
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
  src/globus_cli/login_manager/scopes.py
  src/globus_cli/login_manager/tokenstore.py
  src/globus_cli/parsing/param_types/delimited.py
  src/globus_cli/parsing/shared_options/endpointish.py
  src/globus_cli/services/auth.py
  src/globus_cli/types.py
Due: reject-paginator-table-usage

Remove testing on the 16.x line of virtualenv
  .github/workflows/build.yaml
Due: none

Fix endpoint permission create principal flag value bug (#938)
  changelog.d/20240125_145727_derek_endpoint_permission_create_bug_zd_381646.md
  src/globus_cli/parsing/shared_options/__init__.py
  tests/files/api_fixtures/endpoint_operations.yaml
  tests/functional/endpoint/permission/test_endpoint_permission_create.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20240109_104114_sirosen_drop_py37.md
  changelog.d/20240125_145727_derek_endpoint_permission_create_bug_zd_381646.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Fix incorrect parameter value specified in changelog (#940)
  changelog.adoc
Due: fix-changelog

Improve handling of clock skew when decoding a JWT
  src/globus_cli/login_manager/auth_flows.py
Due: reject-paginator-table-usage

Fix eager import which breaks lazy import perf
  src/globus_cli/login_manager/auth_flows.py
Due: reject-paginator-table-usage
